html, body {
    background-color: #60615d;
	height: 100%;
}

#honIcon {
    position: absolute;
    left: 50px;
}

#sidebar {
    float: left;
	height: 100%;
}

.streamList {
    border: solid 2px black;
    width: 250px;
	overflow-y: scroll;
	height: 90%;
}

.streamContainer {
    cursor: pointer;
    position: relative;
    height: 53px;
}

.streamContainer:nth-child(even) {
    background-color: #60615d;
}

.streamContainer:nth-child(odd) {
    background-color: rgb(0, 0, 0);
}

.streamContainer:hover {
    background-color: rgba(33, 33, 33, 0.66);
}

.streamList > .streamContainer > .userName {
    position: absolute;
    left: 75px;
    top: 4px;
    width: 155px;
    white-space: nowrap;
    overflow: hidden;
    color: #ffffff;
}

.streamList > .streamContainer > .views {
    position: absolute;
    left: 75px;
    top: 25px;
    color: #ffffff;
}

#playerWindow {
    position: absolute;
    left: 280px;
    width: 900px;
    height: 516px;
    padding: 0.5em;
}

#embed > object{
    width: 100%;
    height: 100%;
}

#playerWindow h3 {
    text-align: center;
    margin: 0;
}

#countdownContainer {
    text-align: center;
}

.noScript {
    border: solid 1px black;
    background-color: #ff995b;
    font-size: large;
}

.fullscreen {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: white;
    text-align: center;
    z-index: 999;
}

.whatsNewContainer {
    float: left;
    width: 250px;
}

.whatsnewcontainer, h2 {
    margin-top: 0;
}

.headLineContainer {
    text-align: center;
}

.headLineContainer > img {
    position: absolute;
    left: 50%;
    top: 100px;
    width: 300px;
    height: 300px;
    margin-left: -150px;
}

.supportedFeaturesContainer {
    float: right;
    width: 250px;
}

.supportedFeaturesContainer td{
    border: solid 1px black;
}

.supportedFeaturesContainer th {
    background-color: #ffffff;
}

.center {
    text-align: center;
}

.oldNews {
    text-decoration: line-through;
}